.home-container{
    padding-top: 10px;
}
.home-container img{
    width: 100%;
}
.services-container{
    padding-top: 70px;
    padding-bottom: 100px;
}
.inventory-title{
    padding-bottom: 30px;
    font-weight: 600;
    color: orange;
}
.single-fridge img{
    width: 100%;  
}
.single-fridge {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    text-align: left;
 
}
.single-fridge p {
    margin-bottom: 0px;
}
.single-fridge Button {
    margin-top: 15px;
}
/* DISPLAY FRIDGE CSS */

.direct-cool-refrigeration{
    text-align: left;
}
.coll-fridge-detail{
    
}
.direct-coll-area{
    display: flex;
    align-items: center;
}
.cool-fridge-img img{
     width: 100%;
}
