.home-container{
    padding-top: 10px;
}
.home-container img{
    width: 100%;
}
.services-container{
    padding-top: 70px;
    padding-bottom: 20px;
    border-bottom: 2px solid #fafafa;
}
.inventory-title{
    padding-bottom: 30px;
    padding-top: 25px;
    font-weight: 600;
    color: orange;
}
.single-fridge img{
    width: 100%;  
}
.single-fridge {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    text-align: left;
 
}
.single-fridge p {
    margin-bottom: 0px;
}
.single-fridge Button {
    margin-top: 15px;
}
/* DISPLAY FRIDGE CSS */
.display-fridge-container{
    border-top: 2px solid #e8e8e8;
}

.direct-cool-refrigeration{
    text-align: left;
}
.direct-coll-area{
    display: flex;
    align-items: center;
}
.cool-fridge-img img{
     width: 100%;
}

/* //manage all item button */
.manage-all-items-btn {
   
    margin:0 auto;
   

}
.manage-all-items-btn a{
    text-decoration: none;
    background: green;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 18px;
    margin-top: 100px
}
