
.google-signin{
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 300px;
    cursor: pointer;
}
.forgetPassword{
    margin: 15px 0;
}
.login-title{
    padding: 15px 0;
}
.google-signin img{
    width: 100%;
    
    }